.env

~/.cache/
.pytest_cache/
*.cache/
torch_whl/
hf_cache/
sentence_transformers/
transformers/

*.db/
*.db
*.sqlite

__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
.idea/
.vscode/
.env.*
*.log

venv/
llm/
files/